.App {
  text-align: center;
}

/* table, th, td */
th, td {
  border: 1px solid;
  padding: 5px;
  border-radius: 4px;
}

th{
  background-color: yellow;
}

table{
  display: flex;
  justify-content: center;
}