.category-header-section{
  background-image: url("../../banner-images/category-banner.jpeg");
  /* image source: https://unsplash.com/photos/9BoqXzEeQqM */
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.9;
  filter:brightness(0.9);
  margin: 0px 50px;
}

.category-header {
  text-align: center;
  font-size: 45px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  background-color: #3d405bd0;
  letter-spacing: 3px;
  padding: 20px;
  border-radius: 10px;
}

.contribute-btn{
  width: 100px;
  border-radius: 6px;
  margin-top: 20px;
  background-color: #81B29A;
}

.resource-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.resource-set{
  flex: 0 0 33%;
  height: 250px;
  margin: 20px;
  border-style: dotted;
  border-color: #FFFFFF;
  max-width: 350px;
  padding: 20px 0px;
  background-color: #E07A5F;
}

.resource-title{
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0px 5px 15px;
}

.resource-description{
  margin: 0px 5px;
}

.resource-link{
  border-radius: 6px;
  padding: 5px;
}

form {
  margin: 20px 50px;
  padding: 20px;
  background-color: #3d405bd0;
}

.form-title, .form-labels{
  color: #FFFFFF;
}

.form-labels{
  margin-top: 15px;
}

input, textarea {
  width: 500px;
  border-radius: 6px;
}

textarea{
  height: 100px;
}

.submit-btn{
  margin-top: 20px;
  padding: 5px;
  border-radius: 6px;
  width: 100px;
  background-color: #81B29A;
}

.confirmation-statement{
  margin: 30px 50px;
  padding: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  background-color: #3cb0445d;
  border-radius: 6px;
}


